<%= content_for :header do %>
<div class="container">
    <h1 class="h1 display-3"><%= content_for?(:title) ? yield(:title) : "Change Password" %></h1>
</div>
<% end %>

<%= content_for :content do %>
<div class="container">
  <%= form_with url: auth_change_password_path, local: true, html: { class: "form-horizontal" } do |form| %>
    <div class="mb-3">
      <%= form.label :current_password, class: "form-label" %>
      <%= form.password_field :current_password, class: "form-control" %>
    </div>

    <div class="mb-3">
      <%= form.label :new_password, class: "form-label" %>
      <%= form.password_field :new_password, class: "form-control", id: "new_password" %>
    </div>

    <div class="mb-3">
      <%= form.label :confirm_password, class: "form-label" %>
      <%= form.password_field :confirm_password, class: "form-control", id: "confirm_password" %>
      <div id="password_message" class="text-danger"></div>
    </div>

    <br>

    <div class="mb-3">
      <%= form.submit "Change Password", class: "btn btn-primary btn-lg", id: "change_password_btn" %>
    </div>
  <% end %>

</div>
  <%= javascript_include_tag "changePassword" %>

<% end %>


