<div class="container">
    <br><br>
    <h2 class="h1 display-5">Pick a Stock to Trade</h2>
</div>
<div class="container">
    <form id="stock-form" method="post" action="/trade/start">
        <div class="mb-3">
            <label for="stock" class="form-label"><strong>Stock Ticker:</strong></label>
            <input name="stock" type="text" class="form-control" id="stock" placeholder="AAPL" required data-stocks="<%= @stocks.to_json %>">
        </div>
        <div class="mb-3">
            <label for="strategy" class="form-label"><strong>Strategy:</strong></label>
            <select class="form-select" id="strategy" name="strategy" aria-label="Default select example">
                <option value="RSI"><strong>RSI (Relative Strength Index)</strong></option>
                <option value="MAC" selected><strong>MAC (Moving Average Crossover)</strong></option>
                <option value="BBS"><strong>BBS (Bollinger Bands Strategy)</strong></option>
            </select>
        </div>
        <div class="mb-3">
            
        </div>
        <div>
            <input type="submit" class="btn btn-primary btn-lg" value="Start Trading">
        </div>
    </form>

    <div id="stock-graph"></div>

    <% if @trade %>
      <div class="card mt-4">
        <div class="card-body">
            <h5 class="card-title">Current Trading Bot</h5>
            <p class="card-text">
                <strong>Symbol:</strong> <%= @trade.symbol.upcase %><br>
                <strong>Status:</strong> <%= @trade.status.capitalize %><br>
                <strong>Quantity:</strong> <%= @trade.quantity %><br>
                <strong>Started At:</strong> <%= @trade.start_time.strftime("%B %d, %Y %H:%M") %>
            </p>
            <form action="/trade/stop" method="post">
                <!-- Assuming Rails, you may need to include CSRF token here -->
                <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
                <button type="submit" class="btn btn-danger">Cancel Trade</button>
            </form>
        </div>
    </div>

    <% end %>
    <div class="container mt-5">
    <h3 class="display-5 h3">Trade History</h3>
    <table class="table table-striped table-hover">
        <thead class="table-dark">
            <tr>
                <th scope="col">Symbol</th>
                <th scope="col">Type</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
                <th scope="col">Status</th>
                <th scope="col">Transaction Time</th>
            </tr>
        </thead>
        <tbody>
            <% @bot_trades.each do |trade| %>
            <tr>
                <td><%= trade.symbol %></td>
                <td><%= trade.trade_type.capitalize %></td>
                <td><%= number_to_currency(trade.price) %></td>
                <td><%= trade.quantity %></td>
                <td><%= trade.status.capitalize %></td>
                <td><%= trade.transaction_time.strftime("%B %d, %Y %H:%M") %></td>
            </tr>
            <% end %>
        </tbody>
    </table>
</div>

    <%= javascript_include_tag "autocomplete.js" %>
</div>