<%= content_for :header do %>

<% if @user %>

<div class="">
    <h1 class="h1 display-4">Hi <%= @user.username %>,</h1>
</div>

<% else %>

<div class="container my-5">
    <h1 class="display-4">Welcome to Quidbot</h1>
</div>

<% end %>

<% end %>


<%= content_for :content do %>
  
  <% if @user %>
    <%= render "home/starting_page" %>
    <% else %>
    <% @user %>
    <%= render "home/landing_page" %>
  <% end %>

  
<% end %>
