<%= content_for :header do %>
  <div class="container">
    <h1 class="h1 display-4">Settings</h1>
  </div>
<% end %>

<%= content_for :javascript do %>
  <%= javascript_include_tag "settings" %>
<% end %>


<%= content_for :content do %>
    <div class="container">
        <%= render 'settings/form' %>
    </div>
<% end %>    
